.header {
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
  height: 64px;
  background-color: #ea4863;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 200px;
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 600;
  padding: 1.4em;
}

.active {
  background-color: #ed6d82;
}
